*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
}
.container .logo{
    width: 200px;
    height: 100px;
    top: 30px;
    left: 90px;
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .logo img{
    width: 200px;
    height: 100px;
    text-shadow: 20px 20px 20px;
}
.searcharea{
    background-color: #fff;
    width: 170px;
    height: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(167, 158, 245, 0.1) ;
    right: 90px;
    top: 50px;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-sizing: border-box;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.3);
    z-index: 1;
    position: fixed;
}
.searchbox input{
    border: none;
    outline: none;
    width: 90px;
    height: 20px;
    background-color: transparent;
    padding: 0px 10px;
    font-size: 1rem;
    color: #1f1f1f;
}
.searchbox input::placeholder{
    font-family: poppins;
    color: #1d1d1d;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 0.8rem;
}
.section1{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate( -15%, -50%);
}
.section1 img{
    height: 300px;
}
.section1button{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
}
.section1button h1, h2{
    font-family: roboto;
    font-weight: bold;
    font-size: 4rem;
    line-height: 60px;
    color: #3D3D4A;
    letter-spacing: 3px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.08);
}
.section1button h1{
    letter-spacing: 28px;
}
span{
color:	#7A72FF;
}
.section1button .btn{
    border: transparent;
    outline: none;
    width: 150px;
    height: 40px;
    border-radius: 10%/ 50%;
    background-color: #2f2e41;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: 4px;
    font-weight: bold;
    background-color: aqua;
    color: black;
    transition: all ease 0.5s;
    
}
.iconarea{   
    background-color: #fff;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    border-radius: 20px;
    padding: 5px 0px ;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    z-index: 1;
}
.iconarea a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}
.iconarea a i{
    color:rgba(39,39,39,0.80);
}
.iconarea a:hover  .fa-facebook-f{
    color: #3b5998;
}
.iconarea a:hover .fa-twitter{
	color: #00acee;
}
.iconarea a:hover .fa-instagram{
	color:  #ff00bf ;
}
.iconarea a:hover .fa-youtube{
    color: red;
}
body{
    background-color: aqua;
}

.ProductSection{
    width: 85%;    
    margin: 30px auto;
    margin-top: -60px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.9);
    background-size: 1000px;
    border-radius: 10px;
    padding: 40px 22px;
}
h3{
    font-family: myriad pro;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 20px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.05);
    text-align: center;
    color:#323543;
    font-weight: 700;
}
.product{
    width: 100%;
    background-color: rgb(75, 75, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
}
.productbox{
    background-color: rgb(36, 212, 212);
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 10px 30px;
}
.productbox img{
    width: 180px;
}
.productbox p{
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    font-family: myriad pro;
}
.productbox .dollar{
    text-decoration: none;
    color: red;
    font-size: 1rem;
    font-family: poppins;
}
.Buybtn{
    width: 140px;
    height: 40px;
    background-color: #58f158;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -15px;
    border-radius: 15% / 50%;
    color: rgb(204, 0, 255);
    display: none;
    animation: fade 0.2s;
}
.productbox:hover .Buybtn{
    display: flex;
    color: #fff;
	transition: all ease 0.2s;
}
.productbox:hover{
    box-shadow: 2px 2px 30px rgba(243, 4, 4, 0.5);
    background-color: rgb(0, 255, 255);
}
